<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="grid-container">
        <header class="rows">
            <div><a class="brand" href=''>ShopME</a></div>
            <div>
                    <a href="">Cart</a> | 
                    <a href="">Sign In</a>
            </div>
        </header>
        <main>
            <div class="rows center">
                <div class="card">
                    <a href="">
                        <img src="./images/product1.jpg"/>
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h1>Gucci Baggy's</h1>
                        </a>
                        <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                            </div>
                        <div class="card-price">
                           $120
                        </div>
                    </div>
                </div>

                <div class="card">
                        <a href="">
                            <img src="./images/product1.jpg"/>
                        </a>
                        <div class="card-body">
                            <a href="">
                                <h1>Gucci Baggy's</h1>
                            </a>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                                <span> <i class="fa fa-star"></i> </span>
                            </div>
                            <div class="card-price">
                               $120
                            </div>
                        </div>
                    </div>

                    <div class="card">
                            <a href="">
                                <img src="./images/product1.jpg"/>
                            </a>
                            <div class="card-body">
                                <a href="">
                                    <h1>Gucci Baggy's</h1>
                                </a>
                                <div class="rating">
                                    <span> <i class="fa fa-start"></i> </span>
                                </div>
                                <div class="card-price">
                                   $120
                                </div>
                            </div>
                        </div>

                        <div class="card">
                                <a href="">
                                    <img src="./images/product1.jpg"/>
                                </a>
                                <div class="card-body">
                                    <a href="">
                                        <h1>Gucci Baggy's</h1>
                                    </a>
                                    <div class="rating">
                                        <span> <i class="fa fa-star"></i> </span>
                                        <span> <i class="fa fa-star"></i> </span>
                                        <span> <i class="fa fa-star"></i> </span>
                                        <span> <i class="fa fa-star"></i> </span>
                                    </div>
                                    <div class="card-price">
                                       $120
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                    <a href="">
                                        <img src="./images/product1.jpg"/>
                                    </a>
                                    <div class="card-body">
                                        <a href="">
                                            <h1>Gucci Baggy's</h1>
                                        </a>
                                        <div class="rating">
                                            <span> <i class="fa fa-star"></i> </span>
                                            <span> <i class="fa fa-star"></i> </span>
                                            <span> <i class="fa fa-star"></i> </span>
                                            <span> <i class="fa fa-star"></i> </span>
                                        </div>
                                        <div class="card-price">
                                           $120
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                        <a href="">
                                            <img src="./images/product1.jpg"/>
                                        </a>
                                        <div class="card-body">
                                            <a href="">
                                                <h1>Gucci Baggy's</h1>
                                            </a>
                                            <div class="rating">
                                                <span> <i class="fa fa-star"></i> </span>
                                                <span> <i class="fa fa-star"></i> </span>
                                                <span> <i class="fa fa-star"></i> </span>
                                                <span> <i class="fa fa-star"></i> </span>
                                            </div>
                                            <div class="card-price">
                                               $120
                                            </div>
                                        </div>
                                    </div>
            </div>
            
        </main>
        <footer class="rows center">
            All rights reserved to ShopME 2021
        </footer>
     </div>
</body>

</html>